mixin video(videoInfo)
  div
    h4 #{videoInfo.title}
    ul
      li rating : #{videoInfo.rating}
      li comment : #{videoInfo.comment}
      li createAt : #{videoInfo.createAt}
      li views : #{videoInfo.views}